.mainHeading {
    color: #173b6c;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 0.5em;
    text-decoration-color: #149ddd;
    padding-bottom: 0.5em;
}