.mainHeading {
    color: #173b6c;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 0.5em;
    text-decoration-color: #149ddd;
    padding-bottom: 0.5em;
}

.skillsIcon {
    width: 2em;
    height: 2em;
    color: #173b6c;
}
.skillsText {
    color: #282c34;
    font-size: 1.5em;
    cursor: pointer;
}
.resumeText {
    color: #282c34;
    font-size: 1.5em;
}
.tool{
    background: var(--mantine-color-black);
    text-decoration-color: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-md);

}
.resumeIcon {
    color: var(--mantine-color-white);
    height: 1em;
    width: 1em;
}