html{
    scroll-behavior: smooth;;
}

.mainHeading {
    color: #173b6c;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 0.5em;
    text-decoration-color: #149ddd;
    padding-bottom: 0.5em;
}

.skillsIcon {
    width: 2em;
    height: 2em;
    color: #173b6c;
}
.skillsText {
    color: #282c34;
    font-size: 1.5em;
    cursor: pointer;
}
.resumeText {
    color: #282c34;
    font-size: 1.5em;
}
.tool{
    background: var(--mantine-color-black);
    text-decoration-color: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-md);

}
.resumeIcon {
    color: var(--mantine-color-white);
    height: 1em;
    width: 1em;
}

.card {
    height: rem(440px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
}

.title {
    font-weight: 900;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: rem(32px);
    margin-top: var(--mantine-spacing-xs);
    cursor: default;
}

.category {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
}
.caption{
    position: absolute;
    bottom:0;
    color: var(--mantine-color-white);
}